version: '3.8'

services:
  redis:
    image: redis:alpine
    networks:
      - synapse-net
    deploy:
      replicas: 1

  game-node:
    image: synapse-img:v1
    build: .
    ports:
      - "80:8000"
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
    networks:
      - synapse-net
    deploy:
      replicas: 3 
      update_config:
        parallelism: 1
        delay: 5s
      restart_policy:
        condition: on-failure

networks:
  synapse-net: